:root {
  --primary: #3B568C;
  --secondary: #C3C8CC; /* contrast */
  --primary-lighter: #FBEEE8;
  --text-color:#575757;
  --background:#F2F2F2;

}

* {
    margin: 0;
    box-sizing: border-box;
}

/* Body */
body {
  font-family: "Zilla Slab", serif;
  font-weight: 400;
  font-style: normal;
}

/* Header */
header {
    display: grid;
    grid-template-columns: 40px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 10px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
}

header span {
    font-size: 1.5rem;
}


/* Hamburger */
.hamburger {
    background: none;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
  content:"\00D7"
}

/* Navigation */
.navigation {
  display: none;
}

.navigation.show {
  display: block;
}

.navigation ul {
  list-style-type: none;
  margin:0;
  padding: 0;
}

.navigation a {
  display: block;
  padding: .8rem 10px;
  color: var(--text-color);
  text-decoration: none;
  border-bottom: solid 1px #ddd;
}

.navigation li.current {
  background-color: var(--primary-lighter);
  color:var(--primary-lighter);
}

.navigation a:hover {
  background-color: var(--primary);
  color: var(--primary-lighter);
}

h1 {
  margin-left: 10px;
}

#page-title {
  padding: 10px 0;
  margin-top: .5rem;
}

/* Body */
main {
  padding: 2rem;
}
.grid {
	display: grid;
	grid-gap: 0.1rem;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}


/* Footer */
footer {
  background-color: var(--background);
  padding: 1rem 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: normal;
}

.social {
  display: flex;
  justify-content: center;
  column-gap: 8px;
  margin: 1rem;
}

.social a {
  display: flex;
  justify-content: center;
  align-items: baseline;
  border-radius: 10px;
  width: 88px;
  height: 88px;
}

.social img {
  width: 55px;
  height: 55px;
}

.social a:hover {
  background-color: #ddd;
}

#timeDetails {
  padding: 10px 0;
}


/* Classes */
.font-bold {
  font-weight: 700;
}

.padding-10 {
  padding: 0.5rem 10rem;
}

/* Debugging */
.red-border {
  border:red solid 1px;
}

.blue-border {
  border:blue solid 1px;
}

.gray-bg {
  background-color: #ddd;
}

.green-bg {
  background-color: aquamarine;
}