:root {
  --primary: #7ce197;
  --secondary: #C3C8CC; /* contrast */
  --primary-lighter: #FBEEE8;
  --text-color:#575757;
  --background:#F2F2F2;

}

* {
    margin: 0;
    box-sizing: border-box;
}

/* Body */
body {
  font-family: "Inter", serif;
  font-weight: 400;
  font-style: normal;
}

/* Header */
header {
    display: grid;
    grid-template-columns: 40px auto 44px;
    padding: 5px 5px 10px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 10px;
    background-color: var(--primary);
}

header img {
    display: block;
    width: 100%;
    height: auto;
}

header span {
    font-size: 1.5rem;
}


/* Hamburger */
.hamburger {
    background: none;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
  content:"\00D7"
}

/* Navigation */
.navigation {
  display: none;
}

.navigation.show {
  display: block;
}

.navigation ul {
  list-style-type: none;
  margin:0;
  padding: 0;
}

.navigation a {
  display: block;
  padding: .8rem 10px;
  color: var(--text-color);
  text-decoration: none;
  border-bottom: solid 1px #ddd;
  font-size: medium;
  font-weight: 700;
}

/* .navigation li.current {
  background-color: var(--primary-lighter);
} */

.navigation a:hover {
  background-color: var(--primary);
}

h1 {
  margin-left: 10px;
}

#page-title {
  padding: 10px 0;
  margin-top: .5rem;
}

/* Body */
main {
  padding: 2rem;
}
.grid {
	display: grid;
	grid-gap: 0.1rem;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}


/* Footer */
footer {
  background-color: var(--primary);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: normal;
}

.social {
  display: flex;
  justify-content: center;
  column-gap: 2.5rem;
  margin: 1.5rem;
}

.social a {
  display: flex;
  justify-content: center;
  align-items: center; /* center vertically */
  border-radius: 100px;
  width: 45x;
  height: 50px;
}

.social img {
  width: 50px;
  height: 50px;
}


.social a:hover {
  background-color: #fff;
  border-radius: 50%;
  
}

/* Classes */
.font-bold {
  font-weight: 700;
}

.padding-10 {
  padding: 0.5rem 10rem;
}

/* Debugging */
.red-border {
  border:red solid 1px;
}

.blue-border {
  border:blue solid 1px;
}

.gray-bg {
  background-color: #ddd;
}

.green-bg {
  background-color: aquamarine;
}