/* Adjustments for cards */

/* Card */
section {
	margin: 0.5rem;
	padding: 1rem;
	border: 2px solid rgb(0 0 0 / 10%);
  border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

section > p {
	/* min-height: 60px; */
	font-size: smaller;
	text-align: center;
  margin: 0;
}

section h2 {
  font-size: medium;
  font-weight: bold;
  color: #262626;
  margin: 0.5rem 0;
}

section img {
    width: auto;
    max-width: 325px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    height: 200px;
    border: 1px solid #111;
    border-radius: 0.7rem;
    margin-top: 0.5rem;
}

section a {
  color: #0E4920;
}


/* Card List */
/* === List View === */
.list {
	display: flex;
	flex-direction: column;

	section {
		display: grid;
		grid-template-columns:1fr 1fr 1fr 1fr;
		margin: 0;
		padding: 0.25rem;
    border-radius: 0;
    border:0;

		& > * {
			margin: 0 1rem;
		}

		img {
			display: none;
		}

		h2 {
			font-size: 1rem;
      font-weight: 300;
		}

		&:nth-child(even) {
			background-color: #9EEBB2;
		}
	}
}


/* Menu button */
.menu {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.menu button {
  border: 1px solid #0E4920;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem;
  transition: background-color 0.3s;
}

.menu button.active,
.menu button:hover {
  background-color: #0E4920;
}

.menu button img {
  width: 24px;
  height: 24px;
  filter: invert(20%) sepia(85%) saturate(300%) hue-rotate(180deg);
}

.menu button.active img,
.menu button:hover img {
  filter: brightness(0) invert(1);
}
