/* Form */
.mainJoin {
    padding:0 1rem;

}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding:1rem 0;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 28rem;
    height: 35px;
}

.formRow {
    max-width: 15rem;
}

#applyBtn {
    text-transform: uppercase;
    font-weight: 700;
    width: 50%;
    margin: 1rem 0;
    padding:1rem;
    border:var(--text-color) 1px solid;
    border-radius: 30px;
    background-color: var(--primary);
}

/* Membership Level */
#membership-detail {
    margin-top: 3rem;
}

#membership-detail > p {
    font-weight: 700;
    padding: 0.5rem 0;
}

#membership-detail > div > p {
    font-weight: 700;
    padding: 0.5rem 0;
}


#membership-detail > div {
    background-color: var(--background);
    border-radius:0 10px 0 10px;
    text-align: center;
    border:var(--primary) 2px solid;
    padding: 1rem 0 0.5rem 0;
    margin:0.5rem 0;
    opacity: 0;
    transform: translateY(20px);
    animation: easeIn 0.8s ease-out forwards;
}

#membership-detail button {
    border: 1px solid var(--text-color);
    margin:0.5rem 0; 
    background-color: var(--primary);
    border-radius: 10px;
    padding: 0.2rem 1rem;
}

/* modal / dialog */
#dialogBox {
    padding: 0;
    border: none;
    width: 90%;             /* fits on mobile */
    max-width: 420px;       /* size on large screens */
    margin: auto;           /* forces perfect center */
}

#dialogBox button {
    padding: 0;
}

#dialogBox .dialogTitleheader {
    display: grid;
    grid-template-columns: auto 44px;
    gap: 1rem;
    background-color: var(--primary);
    border-bottom: #aaa 1px solid;
    padding: 0.5rem;
}

dialog::backdrop {
    background-color: var(--backdrop);
}

#dialogBox .dialogContent {
    padding:0.5rem
}

#price {
    font-weight: 700;
    padding:1rem 0;
    text-align: center;
    font-size: x-large;

}

/* animation for cards */

#membership-detail > div:nth-child(2) { animation-delay: 0.1s; }
#membership-detail > div:nth-child(3) { animation-delay: 0.2s; }
#membership-detail > div:nth-child(4) { animation-delay: 0.3s; }
#membership-detail > div:nth-child(5) { animation-delay: 0.4s; }

@keyframes easeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* thank you page */
#successMessage {
    text-align: center;
    margin:4rem 0;
}

#successMessage > p {
    font-weight: 700;
}

#membershipDetail {
    border: var(--text-color) solid 1px;
    background-color: var(--primary);
    margin: auto;
    padding: 1.5rem;
    border-radius: 10px;
    width: 80vw;
    margin-bottom: 1.5rem;
}

#membershipDetail > div:first-child {
    text-align: center;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

#membershipDetail #memberId {
    text-align: center;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.memberDetails .line {
    height: 1px;
    background-color: var(--text-color);
    margin:1rem 0;
}


