@media only screen and (min-width: 38rem) {
    header, main, nav {
        padding-left: 5rem;
        padding-right: 5rem;
        min-width: 100%;
        margin:0 auto;
    }

    header {
        padding-bottom: 1rem;
        padding-top: 1rem;
        grid-template-columns: 40px auto 500px;
        align-items: center;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        display: flex;
        align-items: end;
    }

    .navigation a {
        border: none;
    }

    #nav-bar {
        display: none;
    }

    .navigation a:hover {
        border-bottom: 1px solid var(--primary);
        color:var(--background);
    }

    #student-profile {
        flex: 1;
    }

    main {
        min-height: 82vh;
    }

    /* Keep title full width */
    main > h1 {
        text-align: left;
        flex: 1 1 100%;
        margin-bottom: 0.5rem;
    }

    /* Make the third section full width below */
    main > section:nth-of-type(3) {
        flex: 1 1 100%;
    }
    
    /* Flex for subject */
    #subject {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
    }

    .pill {
        flex-grow:1;
    }

    .strip {
        flex: auto;
    }

    /* footer social icons */
    footer {
        padding-left: 5rem;
        padding-right: 5rem;
        min-height: 7rem ;
        min-width: 100%;
        margin-top: 1.5rem;
        flex-direction: row;
    }

    .social {
        display: flex;
        justify-content: center;
        margin:0;
    }

    /* Adjustments for the landing page */
    .grid {
        grid-gap: 0.5rem;
    }

    #events-section {
        grid-column: span 2;
    }

    .hero {
        position: relative;
        max-height: 50rem;
    }

    .hero > img {
        height: 500px;
        object-fit: cover;
    }

    .hero > a {
        top:27.5rem;
        right: 2rem;
    }

}