@media only screen and (min-width: 38rem) {
    header {
        grid-template-columns: auto 20rem;
    }

    #nav-bar {
        display: none;
    }
    
    .hamburger {
        display: none;
    }
    body {
        width: 70%;
    }

    footer {
        display: flex;
        flex-direction: row;
    }

    #color-palette {
        grid-template-columns: repeat(3, minmax(180px, 1fr));
    }

    #wireframe img {
        
    }

    .navigation {
        display: block;
        align-items:end;
    }

    .navigation ul {
        display: flex;
        align-items: end;
        justify-content:space-between ;
        gap: 1rem;
    }

    .navigation a {
        border-bottom: none;
    }

    .navigation li.current {
       border-bottom: var(--primary-dark) 1px solid;
    }

    /* work / projects */
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }

    .workCard {
        margin-bottom: 0;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap:1rem;
    }

    .columnContainer {
        margin:auto;
        width: 60%;
        display: flex;
        column-gap: 5rem;
        align-items: baseline;
    }

    #aboutHeaderDetails {
        margin: auto;
        width: 60%;
    }

    .dialogContentContainer {
        display: flex;
        flex-direction: column;
    }

    #dialogBox img {
        display: block;
        width: 100%;
    }
}